<div nz-flex [nzAlign]="'center'" [nzVertical]=true>
  <nz-list>
    @for (item of currentPageItems(); track item.id) {
      <nz-list-item [nzNoFlex]=true>
        <p>宏包：{{ item.id }}</p>
        @if (item.date) {
          <p>更新日期：{{ item.date }}</p>
        }
        <p>简介：{{ item.description }}</p>
      </nz-list-item>
    }
  </nz-list>
  @if (isPC) {
    <nz-pagination [nzPageIndex]="1" [nzTotal]="totalCount()" (nzPageIndexChange)="changePage($event)" />
  }
  @else {
    <nz-pagination nzSimple [nzPageIndex]="1" [nzTotal]="totalCount()" (nzPageIndexChange)="changePage($event)" />
  }
</div>

